a {
    color: rgba(33, 33, 33, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        color: rgba(33, 150, 243, 1);
    }
    &:focus {
        color: rgba(33, 150, 243, 1);
    }
}

button:hover {
    cursor: pointer;
}

body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    background-color: #FFFFFF;
    color: #212121;
    font-size: 14px;
    margin: 0
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.hiden {
    display: none;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(33, 33, 33, 1);
    margin-bottom: 50px;
}