/* footer */

.contacts {
    margin-left: calc(50% - 50vw);
    width: 100vw;
    background: rgba(47, 48, 58, 1);
    height: 192px;
    padding-top: 60px;
    margin-bottom: -5px;
}

.contacts-container {
    display: flex;
    align-items: flex-start;
}

.footer {
    height: 31px;
    margin-bottom: 20px;
}

.footer-soc-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.email-for-newsletter {
    margin-left: 93px;
    margin-top: 12px;
}

.footer-soc-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.footer-soc-icon {
    fill: rgba(255, 255, 255, 1);
}

.footer-soc-list {
    margin-top: 20px;
    margin-left: 0;
}

.footer-soc-container {
    margin-left: 70px;
    margin-top: 12px;
}

.logo.footer {
    color: rgba(255, 255, 255, 1);
}

.address-footer {
    margin-bottom: 9px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    font-style: normal;
}

.email-tel {
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.map-adress {
    color: rgba(255, 255, 255, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        color: rgba(255, 255, 255, 1);
    }
}

.follow-section-wrap {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 12px;
    margin-top: 20px;
}

.follow-input-email {
    width: 350px;
    height: 44px;
    background: transparent;
    padding-left: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    border: transparent;
    outline: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    &::placeholder {
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.3;
    }
}

.follow-button-ico {
    margin-left: 10px;
    fill: rgba(255, 255, 255, 1);
}

.follow-button {
    width: 200px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-right: 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(33, 150, 243, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
}