p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    vertical-align: top;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    &:visited {
        color: rgba(33, 33, 33, 1);
    }
}